<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>You taught me the courage of stars before you left</p>
    <p>How light carries on endlessly, even after death</p>
    <p>With shortness of breath</p>
    <p>You explained the infinite</p>
    <p>And how rare and beautiful it is to even exist</p>
    <p>I couldn't help but ask for you to say it all again</p>
    <p>I tried to write it down, but I could never find a pen</p>
    <p>I'd give anything to hear you say it one more time</p>
    <p>That the universe was made just to be seen by my eyes</p>


</body>
</html>