.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.tabs button.active {
    background-color: #38b6ff;
    color: white;
}


.tab-navigation {
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center; 
    align-items: center;
  }
  
  .tab-button {
    padding: 10px 20px;
    background-color: #dceaf9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

  }
  
  .tab-button.active-tab {
    border-bottom: 2px solid #007bff;
    color: #007bff;
  }
  
  .info-box {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}
.info-container {
    margin: 0;
  }

.language-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.related-instances {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.related-instances li {
    margin-bottom: 0.5rem;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loading {
  font-size: 48px;
  margin-bottom: 25px;
}

.loading-fact {
  font-size: 24px;
  color: #555;
}
