header {
    position: sticky;
    top: -54px; /* value to scroll past the logo so just the search bar is sticky */
    z-index: 2;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    padding: 24px;
  }
  .search-bar input {
    width: 600px;
    min-width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 0px;
    outline: none;
  }
  .search-bar [list]::-webkit-list-button,
  .search-bar [list]::-webkit-calendar-picker-indicator {
    display: none !important;
  }